- hosts: localhost
  gather_facts: false
  vars:
    scoreboard_server: "{{ lookup('env', 'SCOREBOARD_SERVER') }}"
    attendee_name: "{{ lookup('env', 'MY_NAME') }}"
  tasks:
  - name: Include Cluster Deployment Tasks
    include_tasks: deploy_cluster.yml

  - name: Include App Deployment Tasks
    include_tasks: deploy_app.yml

  - name: Post progress report
    uri:
      url: "{{ scoreboard_server }}/progress-reports"
      method: PUT
      body:
        attendeeName: "{{ attendee_name }}"
        clusterTasks: "{{ cluster_tasks }}"
        appTasks: "{{ app_tasks }}"
      body_format: json
      status_code: 204
